.aboutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: #ebd7c1; */
  padding: 50px;
  /* color: #462920; */
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
  border-radius: 6px;
  padding: 30px;
}

.about {
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.aboutImage {
  display: block;
  height: 220px;
  margin-left: 40px;
}


.heroImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 30%;
  height: 290px;
  width: 250px;
}
.skills {
  text-align: center;
}

.badges {
  height: 50px;
  margin: 15px;
  /* color: #462920; */
}

.badges:hover {
  animation: rainbowColorShift 2.5s linear infinite;
  transform: scale(1.1);
}

.iconLink:hover .badges svg path {
  fill: url(#rainbow-gradient);
}


@keyframes rainbowColorShift {
  0%   { color: #ffb3ba; }  /* pastel red */
  20%  { color: #ffdfba; }  /* pastel orange */
  40%  { color: #ffffba; }  /* pastel yellow */
  60%  { color: #baffc9; }  /* pastel green */
  80%  { color: #bae1ff; }  /* pastel blue */
  100% { color: #ffb3ba; }  /* back to pastel red */
}

h3 {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 15px;
}

aside {
  margin: 40px;
  text-align: center;
}
