.aboutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  border-radius: 6px;
  padding: 30px;
}

.about {
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.aboutImage {
  display: block;
  height: 220px;
  margin-left: 40px;
}

.heroImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 30%;
  height: 290px;
  width: 250px;
}

.skillsWrapper {
  padding: 50px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 25px;
}

.skillsItem {
  padding: 20px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(12px); /* Glass blur */
  -webkit-backdrop-filter: blur(12px); /* Safari support */
  border: 0.2px solid rgba(255, 255, 255, 0.25); /* Soft border for depth */
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); /* Subtle shadow */
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
}

.skillList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 6px;
  list-style-type: none;
}

.skillList li {
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 10px 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 25px;
  width: 25px;
  height: 25px;
  color: #FFCBA4
}

h5 {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "Permanent Marker", cursive;
}

.badges {
  height: 50px;
  margin: 15px;
  color: #FFCBA4;
}

.badges:hover {
  animation: rainbowColorShift 2.5s linear infinite;
  transform: scale(1.1);
}

.iconLink:hover .badges svg path {
  fill: url(#rainbow-gradient);
}


@keyframes rainbowColorShift {
  0%   { color: #ffb3ba; }  /* pastel red */
  20%  { color: #ffdfba; }  /* pastel orange */
  40%  { color: #ffffba; }  /* pastel yellow */
  60%  { color: #baffc9; }  /* pastel green */
  80%  { color: #bae1ff; }  /* pastel blue */
  100% { color: #ffb3ba; }  /* back to pastel red */
}

/* h3 {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 15px;
} */

aside {
  margin: 40px;
  text-align: center;
}

aside p {
  margin-top: 60px;
}
