.header {
  text-align: center;
  margin: 20px 0;
}

.btn {
  background-color: rgb(128, 108, 84);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.success {
  text-align: center;
  color: lightseagreen;
  margin-top: 15px;
}

.wrapper {
  background-color: #ebd7c1;
  padding: 50px;
  color: #462920;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
  border-radius: 6px;
  padding: 30px;
}
