.hero {
  padding: 50px;
  /* background-color: #ebd7c1; */
}

.heroImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 30%;
  height: 290px;
  width: 250px;
}

.intro {
  margin-top: 30px;
  text-align: center;
}

.margin, .caption, .tagline {
  margin: 20px;
}

.tagline {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 50px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  color: #FFCBA4;
}

.fadeOut {
  opacity: 0;
}

.emoji {
  font-style: normal;
}