/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
}

/* CUSTOM */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  height: 50px;
  /* background-color: #07b6ae;
  color: #fff; */
}

nav a {
  color: #462920;
  text-decoration: none;
}

nav a:not(:last-child) {
  margin-right: 10px;
}

nav a.active {
  text-decoration: underline;
}

h1 {
  color: #462920;
  text-align: center;
  margin: 20px;
}

form {
  width: 380px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

form > * {
  padding: 7px 10px;
  margin-bottom: 7px;
  border: 1px solid #d8cec4;
  outline: none;
  color: #462920;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}